@{
    ViewData["Title"] = "Tutoring";
}

<!-- Title and basic info-->
<h2>Tutoring Information</h2>

<br>
<br>

<h4>Options:</h4>
<ul>
    <li>Beta Reading</li>
    <li>Editing</li>
    <li>Arc Reading</li>
    <li>Plot Discussion</li>
    <li>General Tutoring/Information</li>
</ul>

<br>
<br>

<h4>Credentials:</h4>
<ul>
    <li>Books written: 2 1/2</li>
    <li>Conferences Attended: Storymakers, LDSPMA, LTUE</li>
    <li>Classes: Brandon Sanderson Lecture Series</li>
    <li>Clubs and Groups: Y-Fiction Writing Club, 2 writing groups</li>
</ul>

<br>
<br>

<h4>Pricing</h4>
<form id="calculationForm">
    <!-- Input box for number of hours -->
    <label for="hours">Enter the number of hours:</label>
    <input type="number" id="hours" name="hours" min="1" required>

    <br><br>

    <!-- Non-editable box showing the charge per hour -->
    <label for="charge">Charge per hour:</label>
    <input type="text" id="charge" value="$5" readonly>

    <br><br>

    <!-- Button to calculate total -->
    <button type="button" id="calculateBtn">Calculate Total</button>

    <br><br>

    <!-- Output box showing the total -->
    <label for="total">Total Cost:</label>
    <input type="text" id="total" readonly>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Function to calculate the total cost
    $(document).ready(function () {
        $('#calculateBtn').click(function () {
            var hours = parseFloat($('#hours').val()); // Use jQuery to get the value
            var chargePerHour = 5; // Fixed charge per hour

            if (isNaN(hours) || hours <= 0) {
                alert("Please enter a valid positive number of hours.");
            } else {
                var total = hours * chargePerHour;
                $('#total').val("$" + total.toFixed(2)); // Use jQuery to set the value
            }
        });
    });
</script>
